<style type="text/css">

    div#preview {
      width: 405px;
      
    }

    div#preview div#back {
      width: 405px;
      float: left;
      clear: both;
      padding-top: 10px;
      text-align: center;
    }

form#new_wish {float: left; margin: 0; padding: 0; display: inline; width: 400px; }
form#new_wish p {float: left; margin: 0; padding: 0; display: inline; }
form#new_wish label {font:16px/24px Arial, Helvetica, sans-serif; float: left; margin: 0; padding: 0; display: inline; overflow: hidden; }
form#new_wish input {float: left; margin: 0; padding: 0; display: inline; }
form#new_wish textarea {float: left; margin: 0; padding: 0; display: inline; }
form#new_wish p#contains_name {clear: both; width: 400px; }
form#new_wish p#contains_name label {clear: both; width: 400px; }
form#new_wish p#contains_name input {clear: both; width: 396px; }
form#new_wish p#contains_your_wish {clear: both; width: 400px; }
form#new_wish p#contains_your_wish label {clear: both; width: 400px; }
form#new_wish p#contains_your_wish textarea {clear: both; width: 396px; }
form#new_wish p#contains_secret {clear: both; width: 375px; padding: 15px ;}
form#new_wish p#contains_secret label {clear: none; width: 325px; padding: 0 0 0 15px ;}
form#new_wish p#contains_secret input {clear: both; width: 60px; }
form#new_wish p#contains_anonymous {clear: both; width: 375px; padding: 15px ;}
form#new_wish p#contains_anonymous label {clear: none; width: 325px; padding: 0 0 0 15px ;}
form#new_wish p#contains_anonymous input {clear: both; width: 60px; }
form#new_wish p#contains_submit {clear: both; width: 400px; }
form#new_wish p#contains_submit input {clear: both; width: 400px; padding: 15px ; }
  </style>


<body>
  <div id="preview">


<%= form_for Wish.new do |f| %>
<!--form id="new_wish" name="new_wish" method="post" action="posts"-->
  <p id="contains_name">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" maxlength="30"  accept="yes" />
    </br>
  </p>
  
  <p id="contains_your_wish">

    <label for="your_wish">Your wish</label>
    <textarea id="your_wish" name="your_wish"  rows="5" cols="5" maxlength="1000"></textarea>
        </br>

  </p>
  
  <p id="contains_secret">
    <input id="secret" type="checkbox" name="secret" />
    <label for="secret">Do you want to make a secret wish? (Your wish won\'t be visible)</label>
        </br>

  </p>

  <p id="contains_anonymous">
    <input id="anonymous" type="checkbox" name="anonymous"/>
    <label for="anonymous">Do you want to make an anonymous wish? (Your name will be hidden)</label>
        </br>

  </p>
  <p id="contains_submit">
    <input type="submit" name="submit" id="submit" value="Make a wish!" />
  </p>
 <% end %>
<!--/form-->
  </div>
</body>
